# Ignorar dependencias locales
node_modules

# Ignorar artefactos de build
dist

# Ignorar archivos de Git y Docker
.git
.gitignore
Dockerfile
.dockerignore

# Ignorar archivos de entorno y logs
.env*
!.env.production
npm-debug.log*