dialog {
  transition: scale 0.5s ease, translate 0.5s ease, display 0.5s ease allow-discrete;
  scale: 0;
  translate: 0px -384px;

  &[open] {
    scale: 1;
    transition: scale 0.5s ease-in-out, translate 0.5s ease;
    translate: 0px 0px;

    @starting-style {
      scale: 0;
      translate: 0px -384px;
    }
  }
}
