.welcomeHero {
	background-image:
		linear-gradient(to right, rgba(0, 44, 97, 1), rgba(0, 44, 97, 1)),
		linear-gradient(to right, rgba(0, 44, 97, 1), rgba(0, 84, 230, 0.1)),
		url('@/shared/assets/bnc_logo-white2.png');
	background-position:
		left,
		right,
		right bottom;
	background-repeat: no-repeat;
	background-size:
		50% 100%,
		50% 100%,
		contain;
}
